## What is Quota Sampling?
Quota Sampling is a non-probability sampling method in which the researcher ensures that specific subgroups or quotas are represented in the sample. Unlike stratified sampling, quota sampling does not rely on random selection but instead selects participants based on availability until the quota is filled.

**For example** <br>
if you're conducting a survey and want 50% of your participants to be women and 50% men, you'll keep collecting data from these groups until the quotas are met.

#### Advantages
1. **Ensures Representation:**
Guarantees that specific subgroups are represented in the sample.
2. **Cost and Time Efficient:**
Easier and faster than random sampling methods, especially for large populations.
3. **Practical:**
Useful when probability sampling is not feasible due to time, cost, or accessibility

#### Disadvantages
1. **Bias Risk:**
Since participants are chosen based on availability, the sample may not be representative of the population.
2. **No Random Selection:**
Lacks the randomness that ensures generalizability in probability sampling.
3. **Overrepresentation or Underrepresentation:**
Quotas might misrepresent groups if the criteria are poorly defined or uneven.

#### When to Use Quota Sampling?
1. **Market Research:**
When specific demographic groups need to be represented, e.g., age groups, income levels, etc.
2. **Social Research:**
To ensure inclusion of minorities or underrepresented groups.
3. **Feasibility Constraints:**
When time or budget does not permit probability-based sampling.

#### Python Code Example

In [17]:
import pandas as pd

# Create a sample dataset
data = pd.DataFrame({
    "Name": [f"Person_{i}" for i in range(1, 101)],
    "Gender": ["Male"] * 50 + ["Female"] * 50,
    "Age_Group": ["18-25"] * 30 + ["26-35"] * 30 + ["36-45"] * 40
})

# Display the dataset
data.head()

       Name Gender Age_Group
0  Person_1   Male     18-25
1  Person_2   Male     18-25
2  Person_3   Male     18-25
3  Person_4   Male     18-25
4  Person_5   Male     18-25

In [72]:
# write quota
gender_quota = {"Male" : 15, "Female": 20}
age_group_quota = {"18-25": 10, "26-35": 10, "36-45": 10}

sample_quota = pd.DataFrame() # Create an Empty DataFrame to assign a quota to it

# if males pick up 15, if females pick up 20
for gender, limitation in gender_quota.items():
    sample = data[data["Gender"] == gender].head(limitation)
    sample_quota = pd.concat([sample_quota, sample])

# use above scenario for range of age
for age_group, limitation in age_group_quota.items():
    sample = data[data["Age_Group"] == age_group].head(limitation)
    sample_quota = pd.concat([sample_quota, sample])

In [76]:
# Drop duplicated quota from the sample quota and reset the index
sample_quota = sample_quota.drop_duplicates().reset_index(drop=True)
sample_quota.shape

(45, 3)

In [78]:
sample_quota.head()

       Name Gender Age_Group
0  Person_1   Male     18-25
1  Person_2   Male     18-25
2  Person_3   Male     18-25
3  Person_4   Male     18-25
4  Person_5   Male     18-25